.main {
    display: grid;
    justify-content: center;
    inline-size: 100%;
    overflow: hidden;
    flex-grow: 1; /* main занимает все оставшееся место после шапки */
    overflow-y: auto;

    align-items: center;
}










@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .main {
        overflow: hidden;
    }
}