.main {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    /*background-color: indigo;*/
    inline-size: var(--main-size);
    overflow: hidden; /* сколько мучений чтоб это заработало */
    flex-grow: 1; /* main занимает все оставшееся место после шапки */
}

.profileHeader_and_postsContainer {
    inline-size: 100%;
    overflow-y: auto;
    padding: var(--min-indent);
    display: flex;
    flex-direction: column;
    gap: var(--min-indent);
    }











@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
    }
}