.main__sidebar {
    height: min-content;
    border-radius: calc(var(--min-indent) * 2);
    background-color: var(--system-main-color);
}

.main__sidebar ul{
    display: flex;
    flex-direction: column;
}

.keywords_item {
    cursor: pointer;
    padding: var(--min-indent);
    border-radius: calc(var(--min-indent) * 2);
}

.keywords_item:hover {
    background-color: var(--hover-color);
    outline: var(--system-main-border);
}

.main__sidebar-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--min-indent);
}

.keywords__img {
    inline-size: 38px;
    block-size: 38px;
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .main__sidebar ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main__sidebar-item a {
        flex-direction: column;
    }
}