.main__sidebar {
    background-color: antiquewhite;
    height: min-content;
    margin: var(--min-indent);
    border-radius: calc(var(--min-indent) * 2);
}

.main__sidebar ul{
    display: flex;
    flex-direction: column;
}

.keywords_item {
    background-color: blue;
    cursor: pointer;
    padding: var(--min-indent);
    border-radius: calc(var(--min-indent) * 2);
}

.main__sidebar-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--min-indent);
}

.keywords__img {
    inline-size: 38px;
    block-size: 38px;
}

@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    .main__sidebar ul{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main__sidebar-item a {
        flex-direction: column;
    }
}