.page {
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* занимает всю высоту экрана а не больше, 
    нужно чтобы шапка была определенного размера, 
    а main растянулся на оставшуюся длину экрана но не больше*/
}

.header {
    background-color: var(--system-main-color);
    inline-size: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-shrink: 0; /* Шапка не будет сжиматься */
}

.header__in {
    /*background-color: red;*/
    inline-size: var(--main-size);
    padding: var(--min-indent);
}

.logo__link {
    display: flex;
    align-items: center;
    gap: var(--min-indent);
}

.logo {
    max-height: var(--logo-size);
}










@media (max-width: 768px) {
    
}

@media (max-width: 480px) {
    
}