.profileHeader {
    display: flex;
    flex-direction: column;
}

.profileHeader__in {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    padding: 5px;
    
    gap: calc(2 * var(--min-indent)); /*      */
}

.profileHeader__ava {
    background-color: purple;
    width: var(--avatar-frame-size);
    height: var(--avatar-frame-size);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-avatar {
    background-color: blue;
    width: calc(var(--avatar-frame-size) - 15px); /* потом скорее всего надо будет на переменную поменять */
    height: calc(var(--avatar-frame-size) - 15px);
    border-radius: 50%;
    object-fit: cover; /* надо проверить что оно делает на настоящих фотках */
}

.profileHeader__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-inline-start: 10px; /* потом скорее всего надо будет на переменную поменять */

    position: relative;
    background-color: white;
    padding-inline: var(--min-indent);
}

.profileHeader__main::before {
    content: "";
    position: absolute;
    width: calc((var(--avatar-frame-size) / 2) + (2 * var(--min-indent)));
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transform: translateX(-100%);
    mask-image: radial-gradient(circle at 0 calc(var(--avatar-frame-size) / 2), transparent calc(var(--avatar-frame-size) / 2 + var(--min-indent)), black calc(var(--avatar-frame-size) / 2 + var(--min-indent) + 1px));
}

.profileHeader__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    inline-size: 100%;
}

.profile__info {
    display: flex;
    flex-direction: column;
}

.profile__info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile__info div div {
    display: flex;
    flex-direction: row;
    gap: var(--min-indent);
}

.profileHeaderActions {
    position: absolute;
    top: 0;
    right: 0;
}