.profileHeader {
    display: flex;
    flex-direction: column;
    margin: var(--min-indent);
    background-color: var(--block-main-color);
    border: var(--block-main-border);
    border-radius: calc(var(--min-indent) * 2);
}

.profileHeader__in {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: var(--min-indent);
    gap: var(--min-indent);
}

.ava-lg {
    width: var(--avatar-frame-size-lg);
    height: var(--avatar-frame-size-lg);
    mask-image: radial-gradient(circle at 50% 50%, black calc(var(--avatar-size-lg) / 2 - (var(--avatar-size-lg) / 100)), transparent calc(var(--avatar-size-lg) / 2), transparent calc(var(--avatar-size-lg) / 2 + (var(--avatar-size-lg) / 100)), black calc(var(--avatar-size-lg) / 2 + (var(--avatar-size-lg) * 2 / 100)));
}

.ava-lg .profile-avatar {
    width: var(--avatar-size-lg);
    height: var(--avatar-size-lg);
}

.profileHeader__main {
    
}

/*
.profileHeader__main::before {
    content: "";
    position: absolute;
    width: calc((var(--avatar-frame-size) / 2) + (2 * var(--min-indent)));
    height: 100%;
    top: 0;
    left: calc(-1 * ((var(--avatar-frame-size) / 2) + (2 * var(--min-indent)))); /* с translateX были зазоры между элементами */
    /*mask-image: radial-gradient(circle at 0 calc(var(--avatar-frame-size) / 2), transparent calc(var(--avatar-frame-size) / 2 + var(--min-indent)), black calc(var(--avatar-frame-size) / 2 + var(--min-indent) + 1px));

    background-color: var(--block-main-color);
    border: var(--block-main-border);
    border-inline: none;
}

.profileHeader__main::after {
    content: "";
    position: absolute;
    width: calc(var(--avatar-frame-size) / 2);
    height: calc(100% - (var(--avatar-frame-size) + var(--min-indent))); /* зависит от mask-image у ::before */
    /*bottom: 0;
    left: calc(-1 * (var(--avatar-frame-size) + (2 * var(--min-indent)))); /* зависит от размеров и смещения ::before */
    /*mask-image: linear-gradient(to bottom, transparent 0, black 1px); /* у ::before немного размыто и тут тоже добавил */
    
    /*background-color: var(--block-main-color);
    border-radius: 10px 0 0 10px;
    border: var(--block-main-border);
    border-right: none;
}*/

.profileHeader__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--min-indent);
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__info div {
    display: flex;
    flex-direction: row;
    gap: var(--min-indent);
}

.profile__info-item {

}

.profileHeader__in .contextMenuWrapper {
    position: absolute;
    top: var(--min-indent);
    right: var(--min-indent);
}