:root {
    --theme-color: #000;
    --heart-contour: var(--theme-color);
    --animation-fill-color: #FF0000;


    --main-size: clamp(250px, 100dvw, 700px); /* с нижней границей возможно не совсем поумному но что умеем то могём */
    --min-indent: 5px; /* основной отступ в проекте */
    --logo-size: 60px;
    /*--header-height: calc(var(--logo-size) + (2 * var(--min-indent)));*/
    --avatar-size-lg: 100px;
    --avatar-frame-size-lg: calc(var(--avatar-size-lg) * 1.15);
    --avatar-size-sm: 40px;
    --avatar-frame-size-sm: calc(var(--avatar-size-sm) * 1.15);

    --form-size: clamp(250px, 100dvw, 500px);

    --popup-pudding: calc(var(--min-indent) * 7);
/*
    --block-main-color: #fff5ee;
    --block-main-border: 3px solid #ffebcd;
    --system-main-color: #faebd7;
    --loading-color: #faebd7;
    --text-color: black;
    --page-color: white;*/
/*
    --block-main-color: #FFAC24;
    --block-main-border: 4px solid #EC9200;
    --system-main-color: #FFAC24;
    --loading-color: #faebd7;
    --text-color: #523319;
    --page-color: #FFE3B4;*/
/*
    --block-main-color: #fde8bd;
    --block-main-border: none;
    --system-main-color: rgb(255, 232, 118);
    --loading-color: #fee5ff;
    --text-color: black;
    --page-color: #fcc24e;*/

    /* #FF8AAB, #00B4D8, #FFC9D3, #FFDE6B */
    --block-main-color: #fff4ce;
    --block-main-border: 3px solid #FF8AAB;
    --system-main-color: #ee9eb5;
    --system-main-border: 3px solid #FF8AAB;
    --loading-color: #ffd7e2;
    --page-color: #69e0f8;
    --opacity-page-color: rgb(105, 224, 248, 0.7);
    --hover-color: #f2e8c5;
    --partner-message-color: #ee9eb5;
    --sender-message-color: #fff4ce;

    --text-color: black;
    --system-form-color: #fc5584;
    --system-btn-text-main-color: #fc5584;
    --system-btn-text-hover-color: #f389a7;

    /*--block-main-color: linear-gradient(135deg, #FF8AAB 20%, #00B4D8 40%, #00B4D8 40%, #FFC9D3 65%, #FFC9D3 65%, #FFDE6B 90%);
    --block-main-border: 3px solid #FF8AAB;
    --system-main-color: rgb(25, 26, 34);
    --loading-color: #ffd7e2;
    --text-color: #000000;
    --page-color: #FFFFFF;
    --opacity-page-color: rgb(105, 224, 248, 0.7);
    --hover-color: #FFDE6B;*/
}